<web-app><servlet>
<servlet-name>Refresh</servlet-name>
<servlet-class>Refresh</servlet-class>
</servlet>
<servlet>
<servlet-name>Excelrun</servlet-name>
<servlet-class>Excelrun</servlet-class>
</servlet>
<servlet>
<servlet-name>MP3down</servlet-name>
<servlet-class>MP3down</servlet-class>
</servlet>
<servlet>
<servlet-name>Pdfdownload</servlet-name>
<servlet-class>Pdfdownload</servlet-class>
</servlet>
<servlet>
<servlet-name>Imagedowmloader</servlet-name>
<servlet-class>Imagedowmloader</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Refresh</servlet-name>
<url-pattern>/ref</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MP3down</servlet-name>
<url-pattern>/mp3</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Imagedowmloader</servlet-name>
<url-pattern>/img</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Pdfdownload</servlet-name>
<url-pattern>/pdf</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Excelrun</servlet-name>
<url-pattern>/excel</url-pattern>
</servlet-mapping>
</web-app>