<web-app>

 <servlet>
 <servlet-name>sample</servlet-name>
 <servlet-class>LoginServlet</servlet-class>
 </servlet>

<servlet-mapping>
<servlet-name>sample</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>


 <servlet>
 <servlet-name>sample1</servlet-name>
 <servlet-class>VisitServlet</servlet-class>
 </servlet>

<servlet-mapping>
<servlet-name>sample1</servlet-name>
<url-pattern>/Visit</url-pattern>
</servlet-mapping>


</web-app>


